<%= form_for @changeset, @action, fn f -> %>
  <div class="form-group">
    <%= label f, :title %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :body %>
    <%= textarea f, :body, class: "form-control", rows: 8 %>
    <%= error_tag f, :body %>
  </div>

  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>
